
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav>
        <span style="margin: 10px 10px" > @Html.ActionLink("Modaretor Info", "Create")</span>
      
        <a style="margin: 10px 10px" href="/">Reports Info</a>
        <a style="margin: 10px 10px" href="/">See FeedBacks</a>
        <a style="margin: 10px 10px" href="/">Other Users Info</a>
    </nav>
    <div> 
        It is Admin Profile.
    </div>
</body>
</html>
