td,th {
    border: 1px solid #ddd;
    padding: 8px;
}



tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: orangered;
    color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
}

h1,h2{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    color:indianred;
}