
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Welocome to Blood Donate App....
        <br />
        @Html.ActionLink("Login", "Login")
    </div>

</body>
</html>
